.pill {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.pill-button {
  border: 'none';
  padding: 0;
  background: 'none';
  cursor: 'pointer';
}
