.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.screen {
  display: flex;
  flex-grow: 1;
}

.content {
  flex: 4;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .content {
    flex: 3.5;
  }
}

@media (max-width: 450px) {
  .content {
    flex: 1.5;
  }
}
